:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #34547a;
  --color-grey: #727272;
  --color-grey-light: #eeeff1;

  --font-size: 16px;
  --font-family: "Roboto", sans-serif;
  --line-height: 1.64;
  --letter-spacing: 0.1em;

  --container-primary: 1110px;
  --container-secondary: 540px;

  --gap-lg: 40px;
  --gap-md: 20px;
  --gap-sm: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: var(--line-height);
}

body {
  background-color: var(--color-white);
}

a {
  text-decoration: none;
}

/* header */
.container {
  width: min(100% - var(--gap-lg), var(--container-primary));
  margin-inline: auto;
  align-self: center;
}

.container--centered {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  z-index: -1;
}

.header {
  padding-top: 79px;
  padding-bottom: 141px;
  background-color: var(--color-grey-light);
}

.header--left {
  margin-left: -12px;
}

.nav-bar {
  margin-bottom: 148px;
}

.nav-bar__list {
  display: flex;
  flex-wrap: wrap;
  gap: 43px;
  line-height: 1.2;
}

.nav-bar__link {
  color: var(--color-black);
  letter-spacing: var(--letter-spacing);
}

.nav-bar__link--active {
  color: var(--color-primary);
  font-weight: 500;
}

.content__title {
  font-size: calc(var(--font-size) * 3);
  font-weight: 500;
  margin-bottom: 34px;
}

.content__description {
  color: var(--color-grey);
  width: min(100% - var(--gap-lg), var(--container-secondary));
  margin-bottom: 56px;
}
.content__link {
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 65px;
  letter-spacing: var(--letter-spacing);
  padding: 0.5em 1em;
}

/* body */
.about {
  padding-top: 106px;
  padding-bottom: 92px;
}

.process {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--color-grey-light);
}

.secondary-content__title {
  font-size: calc(var(--font-size) * 2);
  font-weight: 500;
  margin-bottom: 30px;
}

.secondary-content__description {
  color: var(--color-grey);
  width: min(100% - var(--gap-lg), var(--container-secondary));
  margin-inline: auto;
}

.secondary-content__video {
  margin-top: 48px;
}

.secondary-content__video iframe {
  width: 100%;
  height: auto;
  max-height: 600px;
  aspect-ratio: 16/9;
  border: 0;
}

/* Projects */

.projects {
  padding-top: 98px;
  padding-bottom: 98px;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.projects-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projects-item {
  display: flex;
}

.projects-item__description {
  display: flex;
  flex-direction: column;
}
.projects-item__icon {
  margin-left: 4px;
  margin-right: var(--gap-md);
}

.projects-item__description-number {
  font-size: 21px;
  font-weight: 500;
}

.projects-item__description-text {
  line-height: 1.2;
}

/* footer */

.footer {
  background-color: var(--color-primary);
  padding-top: 47px;
  padding-bottom: 54px;
}
.footer__author-title {
  color: var(--color-white);
  font-size: 21px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: var(--gap-sm);
}

.footer__copyright-info {
  color: var(--color-white);
  font-size: 13px;
}
